.outer {
    width: 100%;
    background-color: black;
    position: relative
}

.inner {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 700px;
    background-image: url("https://www.historiaposzukaj.pl/assets/media/Wiedza/Obrazy/2_panorama.jpg");
    background-size: cover;
}

.content {
    min-height: 700px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.logo {
    max-height: 150px;
    margin-bottom: 3rem;
}