.container {
    padding-top: 2rem;
}

.results_header {
    padding-top: 2rem;
}

.num_results {
    margin-bottom: 1rem;
}

.pagination {
    margin-top: 2rem;
    padding-bottom: 4rem;;
}

.suggestions_header {
    padding-top: 2rem;
}
.suggestions {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tabs {
    margin-bottom: 2rem;
}